@(message: String,page: Page[SegmentCategoryModel])(implicit flash: play.api.mvc.Flash)

@import helper._
@import helper.twitterBootstrap._

@main("Libertad - Ecuador", "libertad") {
            <div class="hero-unit">
                <h1>Turismo Libre: Capitulo Ecuador</h1>
                <p>Open-Source Tourism: Ecuador Chapter</p> 

                <h3>Encuentra las opciones turisticas que tiene el Ecuador!</h3>
            </div>

            @flash.get("success").map { message =>
		        <div class="alert-message warning">
		            <strong>Done!</strong> @message
		        </div>
		    }
            <div id="lago"></div>

            @Option(page.items).filterNot(_.isEmpty).map { segcats =>
        
		        <table class="computers zebra-striped">
		            <thead>
		                <tr>
		                    <th>Name</th>
		                </tr>
		            </thead>
		            <tbody>

		                @segcats.map { 
		                    case (segcat) => {
		                        <tr>
		                            <td>@segcat.name</td>
		                        </tr>
		                    }
		                }

		            </tbody>
		        </table>
		        
		    }.getOrElse {
		        
		        <div class="well">
		            <em>Nothing to display</em>
		        </div>
		        
		    }
}